@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500&display=swap');

body{
  background-color: #333232;
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins', sans-serif;
}
.Navbar{
    grid-area: Navbar;
    background: linear-gradient(180deg, var(--pri--color) 0%, var(--sec-color) 35%, var(--ter-color) 100%);
  }
.NavBarIn{
    display: grid;
    grid-template-areas: 
    "Logo Searching Profile"
    ;
    grid-template-columns: 15% 70% 15%;
    height: 98%;
    width: 99%;
    margin: .2% .5%  ;
    background-color: #333323;
  
  }
.LogoNavbar{
    margin: 5% 20% ; 
    grid-area: Logo;
    background-color: darkcyan;
}
.SearchingNavbar{
    margin: 1.5% 15%;
    grid-area: Searching;
    background-color: yellow;
}
.ProfileNavbar{
    margin: 5% 20% ; 
    grid-area: Profile;
    background-color: violet;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --pri--color: #F25E7A;
  --sec-color: #022873;
  --ter-color: #035AA6;
  --cua-color: #05C7F2;
  --qui--color: #F2C063;
}
