.containerNavbar{
    top: 0;
    left: 0;
    height: 11vh;
}
.containerOutNavbar{
    position: fixed;
    top: 11vh;
    height: 99vh;
    width: 100vw;
    background: linear-gradient(70deg, var(--pri-color) 0%, var(--qui-color) 100%);
}
.containerItems{
    position: relative;
    margin: 3% 15% 3%;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    flex-direction: row;
}
.containerRoles{
    position: relative;
    margin:0;
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-direction: column;
}
.itemUsuario{
    position: relative;
    background-color: var(--qui-color);
    margin: 7%;
    width: 90%;
    height: 40%;
    border-radius: 1.5vw;
    box-shadow: 0vw 1vw 2vw .2vw var(--shadow-5);
    transition: .2s;
    flex-direction: row;
    display: flex;
}
.itemUsuario:hover{
    position: relative;
    margin: 7%;
    height: 40%;
    border-radius: 1.5vw;
    box-shadow: 0vw 1vw 1vw .2vw var(--shadow-5);
    transition: 1s;
    rotate: 6deg;
}
.itemExperto{
    position: relative;
    background-color: var(--qui-color);
    margin: 7%;
    width: 90%;
    height: 40%;
    border-radius: 1.5vw;
    box-shadow: 0vw 1vw 2vw .2vw var(--shadow-5);
    transition: .2s;
    flex-direction: column;
    flex-direction: row;
    display: flex;
}
.itemExperto:hover{
    position: relative;
    margin: 7%;
    height: 40%;
    border-radius: 1.5vw;
    box-shadow: 0vw 1vw 1vw .2vw var(--shadow-5);
    transition: 1s;
    rotate: -6deg;
}
.pregunta{
    position: relative;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textQuestion{
    color: white;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: 600;
    
}
.modalRegistro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

}
.contenidoModalRegistroEx{
    width: 60vh;
    height: 92vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    box-shadow: 0vw 1vw 2vw .2vw var(--shadow-5);    
    outline: none;
}
.contenidoModalRegistroUs{
    width: 60vh;
    height: 70vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    box-shadow: 0vw 1vw 2vw .2vw var(--shadow-5);    
    outline: none;
}
.tituloModal{
    position: relative;
    color: var(--shadow-5);
    margin: 5%;
}
.buttonModal{
    position: relative;
    top: 2%;
}
.inputModalEx{
    height: 14%;
    width: 50%;
    color: var(--shadow-5);
}
.iconItem{
    position: relative;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.containerDescription{
    background-color: transparent;
    margin-left: auto;
}
.descripcionItem{
    margin: auto;
}